nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  h1 {
    grid-column: 1 / 2;
    font-size: 3vw;
    margin: 0 1em;
  }
  .mobile-console {
    display: none;
  }
  .desktop-console {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
    a {
      @include linkStyle;
    }
    a:visited {
      @include linkStyle;
    }
  }
}

@media screen and (max-width: 640px) {
  nav {
    display: flex;
    justify-content: space-between;
    .desktop-console {
      display: none;
    }
    .mobile-console {
      display: flex;
      margin: 0px;
    }
  }
}