@import "./variables";

body {
  @include bodyText;
  background-color: $bkgColor;
  header {
    img {
      width: 100%;
    }
  }
  section {
    margin: 2em;
    hr {
      @include divider;
    }
    h2 {
      @include headerText;
    }
  }
  footer {
    background-color: $sectionColor;
    color: white;
    margin-bottom: 0;
  }
}

button {
  @include btnStyle;
}