@import "./variables";

body {
  @include bodyText;
  background-color: $bkgColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  header {
    img {
      width: 100%;
    }
  }
  section {
    margin: 2em;
    hr {
      @include divider;
    }
    h2 {
      @include headerText;
    }
  }
  footer {
    background-color: $sectionColor;
    color: white;
    .footer-copyright {
      margin: 0px;
      padding: 15px;
    }
  }
}

button {
  @include btnStyle;
}

